<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Library Management System</h1>
<p>
  Hi,
  
  Your book request is successful!

  Thanks and have a great day!
  <br>
</p>
<p>
</p>
</body>
</html>