<h2 align="center">Editing Admin</h2>

<%= render 'form', admin: @admin %>

<div class="login-margins-30" style="margin-top: -2em;">
  <%= link_to 'Show',
              @admin,
              class: "btn btn-primary btn-block",
              style: "color: #ffffff;" %>
</div>