<% if session[:user_type] == ApplicationController::TYPE_LIBRARIAN %>
  <%= render html: ("<h1>Changing "+@library.name+" Policies</h1>").html_safe %>
<% else %>
  <h1>Editing Library</h1>
<% end %>

<%= render 'form', library: @library %>

<%= link_to 'Show', @library %> |
<%= link_to 'Back', libraries_path %>
