<div> <%= link_to "Edit profile", edit_librarian_path(current_user) %> </div>
<br>
<div> <%= link_to "View book requests", book_requests_path %> </div>
<br>
<div> <%= link_to "View overdue fines", overdue_fines_book_histories_path() %> </div>
