

<p id="notice"><%= notice %></p>

<% if session[:user_type] == ApplicationController::TYPE_ADMIN %>
  <%= render 'admin' %>
<% end %>

<% if session[:user_type] == ApplicationController::TYPE_LIBRARIAN %>
  <%= render 'librarian', librarian: @librarian %>
<% end %>

<% if session[:user_type] == ApplicationController::TYPE_STUDENT %>
  <%= render 'student' %>
<% end %>
