<div class="login-margins-15" style="margin-top: 0">
  <% if notice != nil %>
    <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
  <% end %>
  <div class="card">
    <% if session[:user_type] == ApplicationController::TYPE_ADMIN %>
      <%= render 'admin' %>
    <% end %>

    <% if session[:user_type] == ApplicationController::TYPE_LIBRARIAN %>
      <%= render 'librarian', librarian: @librarian %>
    <% end %>

    <% if session[:user_type] == ApplicationController::TYPE_STUDENT %>
      <%= render 'student' %>
    <% end %>
  </div>
</div>