<h1>Library Management System</h1>
<%# <p>Please select your Libraries affiliation</p> %>
<%= link_to "My account", login_path %>
<%= link_to "Libraries", libraries_path %>
<%= link_to "Books", books_path %>
<%= link_to "Our Staff", librarians_path %>