<h2 align="center">Editing Book</h2>

<%= render 'form', book: @book %>

<div class="login-margins-15" style="margin-top: -2em;">
  <%= link_to 'Show',
              @book,
              class: "btn btn-primary btn-block",
              style: "color: #ffffff;" %>
</div>