
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>North Carolina State University's Library Management System</h1>
<p>

  Hi <%= @student.name %> ,

  Your book request is sucessful!,

  Thanks and have a great day!
  <br>
</p>
<p>
</p>
</body>
</html>