<h2 align="center">Editing Librarian</h2>

<%= render 'form', librarian: @librarian, without_password: @without_password %>

<div class="login-margins-30" style="margin-top: -2em;">
  <%= link_to 'Show',
              @librarian,
              class: "btn btn-primary btn-block",
              style: "color: #ffffff;" %>
</div>